.register__form{
   width: 52%;
   margin: 0 auto;
   background: white;
   border-radius: .3rem;
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   input{
      flex: 4;
      border:none;
      outline:none;
      padding: 1rem;
      font-size: 1rem;
      &::placeholder{
         font-size: 1rem;
         color: var(--grey);

      }
   }
   div{
      flex: 2;
      background:var(--main);
      display:flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      gap:5px;
      cursor :pointer;
      &:hover{
         background: var(--main-hover);
      }

      button{
         background:none;
         border:none;
         outline: none;
         font-size: 1.5rem;
         color: var(--pure);
         cursor :pointer;

      }
   }
}

@media (max-width: 1020px){
   .register__form{
      width: 70%;
   }
}
@media (max-width: 700px){
   .register__form{
      width: 90%;

      input{
         padding: .6rem 1rem;
      }
      div{
         padding: .6rem .2rem;
         gap: 3px;
         svg{
            font-size: 14px;
         }
         button{
            font-size: 1rem;
         }
      }
   }
}